.ls-lang-frr {
    background-image: url(/theme/sima-sipsa_git_desktop/img/fr.png);
    background-repeat: no-repeat;
    background-position: 0 5px;
    background-size: contain;
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: text-top;
}

.linkid18854777 > a {
    padding: 6px;
}

li.ls-lang-item > a > abbr {
    display: none;
}

.ls-lang-ar a:before {
    background-image: url(/theme/sima-sipsa_git_desktop/img/alg.png);
}

/*** changement map ***/

.sima_map_link1 {
    top: 94px;
    left: 75px;
    width: 170px;
    height: 120px;
}
.sima_map_link2 {
    top: 487px;
    right: 97px;
    width: 170px;
    height: 120px;
}
.site-banner .quicklinks .linkid760106 .btn-primary {
    background-color: #226c30;
    padding: .5em;
    color: #fff;
    border: 1px solid #226c30;
    transition: all .3s
}
.site-banner .quicklinks .linkid232006 .btn-primary:hover {
    background-color: #fff;
    border-color: #226c30;
    color: #226c30
}
